.App {
  text-align: center;
}
.bolded {
  font-weight: bold;
}

/* Login form */
.login-form {
  margin-top: 5rem;
  text-align: center;
}
.login-form .input-field {
  margin: 1rem;
}
h3.margin-top-5 {
  margin-top: 5rem;
  text-align: center;
}

/* Navbar */
.navbar ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar a:hover {
  background-color: grey;
}
.user-text {
  color: white;
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.sign-out-button {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.spaceafter {
  margin-right: 0.5rem;
}

/* Progress Bar */
.progress-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}
.MuiCircularProgress-root.MuiCircularProgress-colorPrimary.MuiCircularProgress-indeterminate {
  margin-top: auto;
  margin-bottom: auto;
}

/* List */
table.MuiTable-root {
  width: calc(100% - 10rem);
  margin: 0 auto;
}
